@(team: com.actionfps.clans.ClanwarTeam, clan: com.actionfps.accumulation.Clan, showPlayers: Boolean)
<div class="team">
    <div class="team-header">
        @defining(s"/clan/?id=${team.clan}") { url =>
            <h3><a href="@url">@views.html.clan_logo(clan)</a></h3>
            <div class="result">
                <span class="clan"><a href="@url">@team.name.getOrElse(team.clan)</a></span>
                <span class="score">@team.score</span>
            </div>
        }
    </div>
    @if(showPlayers) {
        <div class="players">
            <ol>
            @team.players.values.toList.sortBy(_.flags).reverse.map { player =>
                @views.html.clanwar.render_clanwar_player(player)
            }
            </ol>
        </div>
    }
</div>
