@(player: com.actionfps.clans.ClanwarPlayer)
<li>
    <span class="score flags">@player.flags</span>
    <span class="subscore frags">@player.frags</span>
    <span class="name">
        @player.user match {
            case Some(user) => { <a href="/player/?id=@user">@player.name</a> }
            case None => { @player.name }
        }
        @if(player.awards.contains("mvp")) {
            <img src="https://cloud.githubusercontent.com/assets/2464813/12814236/6717aab2-cb35-11e5-822a-c9ad283b27df.png" title="MVP" />
        }
    </span>
</li>
