@(servers: List[com.actionfps.reference.ServerRecord])
<article id="servers">
    <h2>AssaultCube</h2>
    @servers.groupBy(_.region).toList.sortBy(_._1).map { sr =>
        <h3>@sr._1</h3>
        <ul>
        @sr._2.sortBy(s => (s.hostname, s.port)).map { server =>
            @defining({
                val pwdBit = server.password.filter(_.nonEmpty).map { password => s"?password=$password" }
                s"assaultcube://${server.hostname}:${server.port}${pwdBit.getOrElse("")}"
            }) { url =>
                <li><a href="@url">
                @defining(s"${server.hostname} ${server.port}") { name => @name }
                </a>
                    @if(server.kind != "Standard") {
                        (@server.kind)
                    }
                </li>
            }

        }
        </ul>
    }
    
    <h2>In-game commands</h2>
    <p>
        <ul>
            <li>
                <pre>!balance</pre> 
                Balances teams accoring to ELO scores.
            </li>
            <li>
                <pre>!inter</pre>
                Notifies other players that you started an inter on some server. Notifications are sent to the website, our teamspeak server and a few IRC channels.
            </li>
            <li>
                <pre>!teams</pre>
                Groups players by clantag. Handy for clan wars.
            </li>
            <li>
                <pre>!sides</pre>
                Swaps teams.
            </li>
        </ul>
    </p>

</article>

