@(achievement: com.actionfps.achievements.SwitchNotAchieved)
<div class="AchievementCard achievement notAchieved">
    <div class="cont">
        <div class="achievement-left">
            <div class="progress-radial progress-0">
                <div class="overlay"></div>
            </div>
        </div>
        <div class="achievement-description">
            <header>
                <h3>@achievement.title</h3>
                <p>@achievement.description</p>
            </header>
        </div>
    </div>
</div>
