@import com.actionfps.accumulation.FullProfile
@(fullProfile: FullProfile)
<article id="profile">
    <div class="profile">
        <h1>@fullProfile.user.nickname.nickname</h1>
        
            <div class="main-info">
                @fullProfile.achievements.map { achievements =>
                <div class="basics">
                    <table class="basic-counts">
                        @fullProfile.locationInfo.flatMap(_.countryName).map { cn =>
                            <tr>
                                <th>Country</th>
                                <td colspan="3">@cn</td>
                            </tr>
                        }
                        <tr>
                            <th>Time played</th>
                            <td>@achievements.playerStatistics.timePlayedStr</td>
                            <th>Flags</th><td>@achievements.playerStatistics.flags</td>
                        </tr>
                        <tr>
                            <th>Games played</th><td>@achievements.playerStatistics.gamesPlayed</td>
                            <th>Frags</th><td>@achievements.playerStatistics.frags</td>
                        </tr>

                        @fullProfile.rank match {
                            case Some(rank) => {
                                <tr>
                                    <th>Elo Rank</th> <td>@rank.rank</td>
                                    <th>Elo Points</th> <td>@Math.round(rank.elo)</td>
                                </tr>
                            }
                            case _ => {
                                <tr>
                                    <th>Elo Rank</th> <td>Play more</td>
                                </tr>
                            }
                        }
                    </table>
                </div>
                <div class="achievements">
                    <h3>Achievements</h3>

                    <div class="achievements">
                        @achievements.buildAchievements.completedAchievements.map { achievement =>
                            @views.html.player.completed_achievement(achievement)
                        }
                        @achievements.buildAchievements.partialAchievements.map { achievement =>
                            @views.html.player.progress_achievement(achievement)
                        }
                        @achievements.buildAchievements.switchNotAchieveds.map { achievement =>
                            @views.html.player.none_achievement(achievement)
                        }
                    </div>
                </div>
                }
                @views.html.player.recent_games(fullProfile.recentGames)
            </div>
    </div>

</article>

